@import "../_globalColor";

.light-mode {
  background-color: $lightBackground;
  color: $textColor;
  transition: "0.1s";
}

.dark-mode {
  background-color: $darkBackground;
  color: white;
  transition: "0.1s";
}
