@import "../../_globalColor";

.footer-text {
  text-align: center;
  color: $subTitle !important;
}

.footer-text a {
  font-weight: 700;
  text-decoration: none;
  color: $subTitle;
}

.footer-text a:hover {
  text-decoration: underline;
}

.dark-mode {
  color: $textColorDark !important;
}

.footer-div {
  margin-top: 2rem;
  padding-bottom: 1rem;
}
